#card_main {
  min-width: 600px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

#maindiv {
  display: flex;
  width: 100%;
  margin: 10px;
}

.text {
  height: 120px;
  width: 100%;
  justify-content: flex-start;
  border: solid 0.000000000001rem rgb(212, 211, 211);
  margin-bottom: 30px;
  padding-left: 15px;
  padding-top: 10px;
  box-sizing: border-box;
}

#modifanddeleteicons {
  width: 100%;
  display: flex;
}

#avatar {
  width: 80px;
  height: 80px;
  border: solid 1px grey;
  margin-right: 20px;
}

.name_div {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
