/* Other rules */
.div_base {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9faff;
  align-items: center;
}
